$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

$font-stack: Roboto, "Noto Sans", sans-serif;
$background: #FAFAFA;
$primary: #2196F3;
$primary-light: #BBDEFB;
$primary-dark: #0D47A1;
$secondary: #E91E63;
$secondary-dark: #F50057;

$white: #FFF;
$black: #000;

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: $black;
  padding: 0.2em 0;
}

* {
	box-sizing: border-box;
}

body {
  font-family: $font-stack;
  background: $background;
  font-size: 16px;
  color: #0E0E2F;
  min-height: calc(100vh - 86px);
}

.wrapper {
	min-height: calc(100vh - 86px);
}

// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'main/main.scss';
@import 'view/view.scss';
@import '../components/footer/footer.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
