<div class="wrapper">
<navbar></navbar>

	<div class="view-head text-center">
	    <h1>Voter's Anonymous</h1>
	    <h3>Viewing Polls by {{view.author}}</h3>
	</div>


	<div class="polls-wrapper" masonry="{'gutter': 10, 'isFitWidth': true}">
		<div class="poll masonry-brick" ng-repeat="poll in view.polls | filter:view.author">
			<h3>{{poll.question}}</h3>
	        <div class="poll-inner clearfix">
	            <form class="vote" ng-submit="view.submitVote(poll.vote, poll._id, option)">
		            <md-radio-group ng-model="poll.vote">
				      <md-radio-button ng-repeat="option in poll.options" ng-value="option" aria-label="{{option}}">{{option}}</md-radio-button>
				    </md-radio-group>
					<input type="submit" value="Vote">
				</form>
			</div>
			<div class="foot-info clearfix">
				<div class="info-wrap">
					<p>Posted by <a href="/view/user/{{poll.author}}">{{poll.author}}</a></p>
					<p>on {{poll.date | date:"MM/dd/yyyy 'at' h:mma"}}</p>
				</div>
				<p class="ext-link"><a href="/view/{{poll._id}}/results"><i class="fa fa-bar-chart"></i></a><a href="/view/{{poll._id}}"><i class="fa fa-external-link"></i></a></p>
			</div>
		</div>
	</div>


</div>
<footer></footer>