.view-head {
	color: $black;
	padding: 0 .2em;
	h1 {
		font-size: 1.7em;
		margin: .3em 0 0;
	}
	h3 {
		font-size: 1.3em;
		margin: 0;
	}
	p {
		margin: 0;
	}
}

.polls-wrapper {
	display: block;
	width: 100%;
	padding: .5em;
	margin: 0 auto;
	.poll {
		width: 275px;
		margin: 0 auto;
		border: 2px solid $black;
		background: $white;
		margin-bottom: 1em;
		box-shadow: 1px 2px 5px #333;
		h3 {
			font-size: 1.3em;
			margin: 0;
			padding: .3em;
			text-align: center;
			border-bottom: 1px solid $black;
			background: $primary;
			color: $white;
		}
		.poll-inner {
			font-weight: bold;
			padding: .2em .6em;
			input[type="submit"] {
				background: $secondary;
				display: block;
				color: $white;
				float: right;
				//width: 3em;
				box-shadow: 0 1px 4px #333;
				font-size: 1.1em;
				padding: .3em .7em;
	      		border: 0;
			}
		}

		.foot-info {
			border-top: 1px solid $black;
			margin: .5em 0 0;
			padding: .5em .3em;
			.info-wrap {
				float: left;
				p {
					margin: 0;
					font-size: .8em;
					text-align: left;
					a {
						color: $secondary-dark;
					}

				}
			}

			.ext-link {
				float: right;
				a {
					margin: 0 .2em;
					color: $secondary-dark;
					font-size: 1.2em;
				}
			}
		}
	}
}

.return {
	a {
		background: $secondary;
		display: block;
		color: $white;
		width: 7.5em;
		text-align: center;
		margin: 1em auto;
		box-shadow: 0 1px 4px #333;
		font-size: 1.1em;
		padding: .3em .7em;
  		border: 0;
  		&:hover {
  			text-decoration: none;
  		}
	}
}


@media screen and (min-width: 400px) {
	.polls-wrapper {
		.poll {
			width: 350px;
			margin: 0 auto 1em;
		}
	}
}