<div class="wrapper">
<navbar></navbar>

	<header class="text-center">
	    <h1>Voter's Anonymous</h1>
	    <h3>Viewing Post</h3>
	</header>

	<div class="polls-wrapper">
		<div class="poll">
			<h3>{{viewpoll.poll.question}}</h3>
<!-- 			<div class="radio" ng-repeat="option in poll.options">
            	<label class="option"><input type="radio" name="option" value="{{option.option}}" required>{{option.option}}</label>
            </div> -->

            <form class="vote" ng-submit="viewpoll.submitVote(viewpoll.poll.vote, viewpoll.poll._id)">
            <md-radio-group ng-model="viewpoll.poll.vote">

		      <md-radio-button ng-repeat="option in viewpoll.poll.options" ng-value="option.option" aria-label="{{option.option}}">{{option.option}}</md-radio-button>

		    </md-radio-group>




			<p>Posted by {{viewpoll.poll.author}} on {{viewpoll.poll.date | date:"MM/dd/yyyy 'at' h:mma"}}</p>
			<input type="submit" value="Vote">
			</form>
		</div>
	</div>


</div>
<footer></footer>