<div class="wrapper">
<navbar></navbar>

<header class="text-center" id="">
  <div class="text-wrap">
    <h1>Voter's Anonymous</h1>
    <p>A voting application that allows users to create, share, and vote in polls created around the world!</p>
  </div>
</header>

<div class="container-form">
  <form class="mainform" name="form" ng-submit="main.createPoll(form)" novalidate>
    <h3>Create a Poll!</h3>
    <div class="form-group">
      <input type="text" name="question" class="form-control" ng-model="main.question" placeholder="Type your question here" required>
      <label for="question" class="poll-label">Question:</label>
    </div>
    <div id="options" ng-repeat="option in main.pollOptions">
      <div class="form-group">
        <input type="text" name="option" class="form-control" ng-model="option.option" placeholder="Enter Poll Option..." ng-keydown="main.addOption(option.id)" required>
        <label for="option" class="poll-label">Option: </label>
      </div>
    </div>
    <input type="submit" class="button-va" value="Create Poll">
  </form>
</div>
<div class="description clearfix">
  <h3>How to Publish a Poll in 2 Steps</h3>
  <div class="desc-block">
    <p><i class="glyphicon glyphicon-edit"></i></p>
    <p class="desc-title">1. Create a Question</p>
    <p>Type your question in the appropriate input area above. Fill out any possible options that you want to be included into the text fields under the question.</p>
  </div>
  <div class="desc-block">
    <p><i class="glyphicon glyphicon-save"></i></p>
    <p class="desc-title">2. Click Create Poll</p>
    <p>Click on the Create Poll button. This will save your poll and redirect you to the location of your newly created poll. where you can share it with your friends!</p>
  </div>
</div>
</div>
<footer></footer>